@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@*<h1 class="text-secondary">Error.</h1>*@
<h2 class="text-secondary display-4 text-rtl">من فضلك قم بالتواصل مع مطور البرنامج!</h2>

@*@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}*@

<h3>:معلومات التواصل</h3>
<p>
    <span>Mobile/Whatsapp: <strong>+249-96-987-2352</strong></span>
    <br />
    <span>Email: <strong>AhmedOthman97@outlook.com</strong></span>
</p>
