@model IEnumerable<Etaa.Models.Family>

@{
    ViewData["Title"] = "بيانات الأسر";
    var ProjectsNumber = TempData["ProjectsNumber"];
    TempData["ProjectsNumber"] = null;
}

<h1><i class="fa-solid fa-list"></i> بيانات المشاريع</h1>
<h6 class="display-6">عدد المشاريع الحالية: @ProjectsNumber</h6>

<table class="table table-striped" id="tblProjects" style="width:100%">
    <thead>
        <tr>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.NameAr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameAr)
            </td>
            <td>
                    <a asp-action="Index" asp-route-FamilyId="@item.FamilyId" class="btn btn-outline-info btn-sm">عرض المشاريع</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="text-dark" style="position: fixed; right: 30px; bottom: 70px;">
    <a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i> إضافة مشروع</a>
</div>


@section Scripts{
    <script>
        $(document).ready( function () {
            $('#tblProjects').DataTable({
                "language": {
                    processing: "جاري المعالجة ",
                    search: "البحث:  ",
                    lengthMenu:    "إظهار _MENU_ سجلات",
                    info:           "إظهار _START_ إلى _END_ من _TOTAL_ سجل",
                    infoEmpty:      "إظهار 0 إلى 0 من 0 سجلات",
                    loadingRecords: "جاري معالجة السجلات...",
                    zeroRecords:    "لا توجد سجلات !",
                    emptyTable:     "لا توجد بيانات !",
                    paginate: {
                        first:      "الأول",
                        previous:   "السابق",
                        next:       "التالي",
                        last:       "الأخير"
                    }
              }
            });
        });
    </script>

    @if (TempData["FinancialStatemntId"] != null)
                {
                    <script>
                        $(function () {
                                    swal({
                                      title: "لم يتم الحفظ !",
                                      text: "هنالك إقرار  مالي تابع لهذا المشروع !",
                                      icon: "info"
                                    });
                                });
                            </script>
                }
    @if (TempData["ClearanceId"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "لم يتم الحفظ !",
                          text: "هنالك خلو طرف تابع لهذا المشروع !",
                          icon: "info"
                        });
                    });
                </script>
    }
    @if (TempData["PaymentVoucherId"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "لم يتم الحفظ !",
                          text: "هنالك مستندات دفع لهذا المشروع !",
                          icon: "info"
                        });
                    });
                </script>
    }
    @if (TempData["ProjectError"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "لم تتم العملية !",
                          text: "الرجاء التحقق من المدخلات !",
                          icon: "error"
                        });
                    });
                </script>
    }
    @if (TempData["Project"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "تمت العملية بنجاح !",
                          text: "تمت العملية بنجاح !",
                          icon: "success"
                        });
                    });
                </script>
    }
}
