@model Etaa.Models.FamilyMember

@{
    ViewData["Title"] = "تعديل عضو الأسرة";
    var FamilyNameAr = ViewData["FamilyNameAr"];
}

<script type="text/javascript">
    $(function () {
        $("#txtFamily").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/FamilyMembers/AutoComplete/',
                    data: { "prefix": request.term },
                    type: "POST",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#hdnFamilyId").val(i.item.val);
                //$("#SelectedFamilyId").text = $("#hdnFamilyId").val;
            },
            minLength: 1
        });

        // Just english or arabic letters without numbers
        $('#txtFamily').keydown(function (e) {
          if (e.shiftKey || e.ctrlKey || e.altKey) {
              e.preventDefault();
          } else {
              var key = e.keyCode;
              if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
                  e.preventDefault();
              }
          }
        });

        // Just arabic letters
        $("#NameAr").keypress(function(event){
            var arabicCharUnicodeRange = /[\u0600-\u06FF]/;
            var ew = event.which;
            if(ew == 32)
                return true;
            if(ew == 169)
                return true;

            var str = String.fromCharCode(ew);
            if (arabicCharUnicodeRange.test(str) )
            {
              return true;
            }
            return false;
        });

        // Just arabic letters
        $("#Note").keypress(function(event){
            var arabicCharUnicodeRange = /[\u0600-\u06FF]/;
            var ew = event.which;
            if(ew == 32)
                return true;
            if(ew == 169)
                return true;

            var str = String.fromCharCode(ew);
            if (arabicCharUnicodeRange.test(str) )
            {
              return true;
            }
            return false;
        });

        // Just english letters
        $("#NameEn").keypress(function(event){
            var ew = event.which;
            if(ew == 32)
                return true;
            // This is to accept numbers
            //if(48 <= ew && ew <= 57)
            //    return true;
            // This for capital english letters
            if(65 <= ew && ew <= 90)
                return true;
            // This for small english letters
            if(97 <= ew && ew <= 122)
                return true;
            return false;
        });
    });
</script>

<h1>التعديل</h1>

<h4>عضو الأسرة</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FamilyMemberId" />
            <div class="form-group mb-3">
                <label asp-for="Family" class="control-label">الأسرة</label>
                <input id="txtFamily" asp-for="@FamilyNameAr" class="form-control" autofocus />
                <input id="hdnFamilyId" asp-for="FamilyId" type="hidden" name="FamilyId" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="NameAr" class="control-label"></label>
                <input asp-for="NameAr" class="form-control" />
                <span asp-validation-for="NameAr" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="NameEn" class="control-label"></label>
                <input asp-for="NameEn" class="form-control" />
                <span asp-validation-for="NameEn" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" type="number" min="1" max="110" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            @*<div class="form-group mb-3">
                <label asp-for="IsCanceled" class="control-label"></label>
                <input type="checkbox" asp-for="IsCanceled" class="form-check-input" />
                <span asp-validation-for="IsCanceled" class="text-danger"></span>
            </div>*@
            <div class="form-group mb-3">
                <label asp-for="KinshipId" class="control-label"></label>
                <select asp-for="KinshipId" class="form-control" asp-items="ViewBag.KinshipId"></select>
                <span asp-validation-for="KinshipId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="GenderId" class="control-label"></label>
                <select asp-for="GenderId" class="form-control" asp-items="ViewBag.GenderId"></select>
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EducationalStatusId" class="control-label"></label>
                <select asp-for="EducationalStatusId" class="form-control" asp-items="ViewBag.EducationalStatusId"></select>
                <span asp-validation-for="EducationalStatusId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="JobId" class="control-label"></label>
                <select asp-for="JobId" class="form-control" asp-items="ViewBag.JobId"></select>
                <span asp-validation-for="JobId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="الحفظ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
</div>

@section Scripts {
    @if (TempData["FamilyMember"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "الرجاء التحقق من المدخلات!",
                          text: "الرجاء التحقق من المدخلات!",
                          icon: "error"
                        });
                    });
                </script>
    }

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
