@model Etaa.Models.FinancialStatement

@{
    ViewData["Title"] = "تعديل الإقرار المالي";
    var ProjectNameAr = ViewData["ProjectNameAr"];
}

<h1>التعديل</h1>

<h4>الإقرار المالي</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="hdnFinancialStatementId" asp-for="FinancialStatementId" />
            <div class="form-group">
                <label class="control-label">إختيار المشروع</label>
                <input id="txtProject" asp-for="@ProjectNameAr" class="form-control" readonly />
                <input id="hdnProjectId" type="hidden" name="ProjectId" asp-for="ProjectId" />
            </div>
            <div class="form-group">
                <label asp-for="DocumentPath" class="control-label"></label>
                @*<input asp-for="DocumentPath" class="form-control" />
                <span asp-validation-for="DocumentPath" class="text-danger"></span>*@
                <a asp-action="Download" asp-route-FinancialStatementId="@Model.FinancialStatementId" class="btn btn-outline-primary">Download</a>
            </div>
            <div class="form-group">
                <label>المرفقات:</label>
                <form id="form2" method="post" enctype="multipart/form-data" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <div class="col-md-12 border border-info" id="dropzone">
                            <div class="dropzone" style="border:none" action="/FinancialStatement/Upload" id="uploader">
                                <div class="dz-message needsclick">
                                    <i class="bi bi-file-earmark-arrow-up text-primary fs-3x"></i>
                                    <div class="ms-4">
                                        <h3 class="fs-5 fw-bolder text-gray-900 mb-1">Drop files here or click to upload</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-group">
                @*<input type="submit" value="Save" class="btn btn-primary" />*@
                <a class="btn btn-primary" onclick="saveData()">الحفظ</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
</div>

@section Scripts {
    @if (TempData["FinancialStatement"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "الرجاء التحقق من المدخلات!",
                          text: "الرجاء التحقق من المدخلات!",
                          icon: "error"
                        });
                    });
                </script>
    }

    <script>
        function saveData(){
                let financialStatementId = $("#hdnFinancialStatementId").val();
                let projectId = $("#hdnProjectId").val();

                let financialStatementItem = {
                    "FinancialStatementId": financialStatementId,
                    "ProjectId": projectId
                }

                $.ajax({
                    url: "/FinancialStatement/Edit",
                    type: 'Post',
                    data: {
                        financialStatementId: financialStatementId,
                        financialStatement: financialStatementItem
                    },
                    headers:
                    {
                        "XSRF-TOKEN": $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (result) {
                        alert("Success");
                        var res = result;
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            };
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
