@model Etaa.Models.ProjectTypes

@{
    ViewData["Title"] = "تعديل بيانات نوع المشروع";
}

<script>
    $(function () {
        // Just english letters
        $("#NameEn").keypress(function(event){
            var ew = event.which;
            if(ew == 32)
                return true;
            // This is to accept numbers
            //if(48 <= ew && ew <= 57)
            //    return true;
            // This for capital english letters
            if(65 <= ew && ew <= 90)
                return true;
            // This for small english letters
            if(97 <= ew && ew <= 122)
                return true;
            return false;
        });

        // Just arabic letters
        $("#NameAr").keypress(function(event){
            var arabicCharUnicodeRange = /[\u0600-\u06FF]/;
            var ew = event.which;
            if(ew == 32)
                return true;
            if(ew == 169)
                return true;

            var str = String.fromCharCode(ew);
            if (arabicCharUnicodeRange.test(str) )
            {
              return true;
            }
            return false;
        });
    });
</script>

<h1>التعديل</h1>

<h4>نوع المشروع</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectTypeId" />
            <div class="form-group">
                <label asp-for="NameAr" class="control-label"></label>
                <input asp-for="NameAr" class="form-control" autofocus />
                <span asp-validation-for="NameAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameEn" class="control-label"></label>
                <input asp-for="NameEn" class="form-control" />
                <span asp-validation-for="NameEn" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCanceled" /> @Html.DisplayNameFor(model => model.IsCanceled)
                </label>
            </div>*@
            <div class="form-group">
                <label asp-for="ProjectDomainTypeId" class="control-label"></label>
                <select asp-for="ProjectDomainTypeId" class="form-control" asp-items="ViewBag.ProjectDomainTypeId"></select>
                <span asp-validation-for="ProjectDomainTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectGroupId" class="control-label"></label>
                <select asp-for="ProjectGroupId" class="form-control" asp-items="ViewBag.ProjectGroupId"></select>
                <span asp-validation-for="ProjectGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="الحفظ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
