html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    
}

@font-face {
    font-family: 'Amiri', sans-serif;
    src: url('Amiri-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin-bottom: 60px;
    font-family: 'Amiri', sans-serif !important;
    font-weight: 400;
    font-style: normal;
}