@model Etaa.Models.Contributor

@{
    ViewData["Title"] = "إضافة مساهم";
}

<script>
    $(function () {
        $("#StatesList").change(function () {
            $.getJSON("@Url.Action("LoadCities")", { StateId: $("#StatesList").val() }, function (d) {
                var row = "";
                $("#CitiesList").empty();
                $.each(d, function (i, v) {
                    row += "<option value=" + v.value + ">" + v.text + "</option>";
                });
                $("#CitiesList").html(row);
            })
        })

        $("#CitiesList").change(function () {
            $.getJSON("@Url.Action("LoadDistricts")", { CityId: $("#CitiesList").val() }, function (d) {
                var row = "";
                $("#DistrictId").empty();
                $.each(d, function (i, v) {
                    row += "<option value=" + v.value + ">" + v.text + "</option>";
                });
                $("#DistrictId").html(row);
            })
        })

        // Just arabic letters
        $("#NameAr").keypress(function(event){
            var arabicCharUnicodeRange = /[\u0600-\u06FF]/;
            var ew = event.which;
            if(ew == 32)
                return true;
            if(ew == 169)
                return true;

            var str = String.fromCharCode(ew);
            if (arabicCharUnicodeRange.test(str) )
            {
              return true;
            }
            return false;
        });

        // Just english letters
        $("#NameEn").keypress(function(event){
            var ew = event.which;
            if(ew == 32)
                return true;
            // This for capital english letters
            if(65 <= ew && ew <= 90)
                return true;
            // This for small english letters
            if(97 <= ew && ew <= 122)
                return true;
            return false;
        });

        // Just arabic letters
        $("#Address").keypress(function(event){
            var arabicCharUnicodeRange = /[\u0600-\u06FF]/;
            var ew = event.which;
            if(ew == 32)
                return true;
            if(ew == 169)
                return true;

            var str = String.fromCharCode(ew);
            if (arabicCharUnicodeRange.test(str) )
            {
              return true;
            }
            return false;
        });
    });
</script>

<h1>الإضافة</h1>

<h4>المساهم</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="NameAr" class="control-label"></label>
                <input asp-for="NameAr" class="form-control" autofocus />
                <span asp-validation-for="NameAr" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="NameEn" class="control-label"></label>
                <input asp-for="NameEn" class="form-control" />
                <span asp-validation-for="NameEn" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" type="number" min="1" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="WhatsappMobile" class="control-label"></label>
                <input asp-for="WhatsappMobile" class="form-control" type="number" min="1" />
                <span asp-validation-for="WhatsappMobile" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="MonthlyShareAmount" class="control-label"></label>
                <input asp-for="MonthlyShareAmount" class="form-control" type="number" min="0" value="0" />
                <span asp-validation-for="MonthlyShareAmount" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="NumberOfShares" class="control-label"></label>
                <input asp-for="NumberOfShares" class="form-control" type="number" min="0" value="0" />
                <span asp-validation-for="NumberOfShares" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="IsActive" class="control-label"></label>
                <input type="checkbox" asp-for="IsActive" class="form-check-input" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label>State</label>
                <select id="StatesList" asp-items="@ViewBag.States" class="form-control">
                    <option>-إختر ولاية-</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label>City</label>
                <select id="CitiesList" class="form-control">
                    <option>-إختر مدينة-</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DistrictId" class="control-label"></label>
                <select asp-for="DistrictId" class ="form-control" asp-items="ViewBag.DistrictId"></select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="الحفظ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
</div>

@section Scripts {
    @if (TempData["Contributor"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "الرجاء التحقق من المدخلات!",
                          text: "الرجاء التحقق من المدخلات!",
                          icon: "error"
                        });
                    });
                </script>
    }

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
